fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
psycopg[binary]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
chromadb
sentence-transformers
google-generativeai
pypdf
python-docx
pandas
numpy
reportlab
resend