fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
psycopg[binary]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
email-validator
pydantic-settings
chromadb
sentence-transformers
google-genai
pypdf
PyMuPDF
python-docx
pandas
numpy
reportlab
resend